In [72]:
from selenium import webdriver
import subprocess
import chromedriver_autoinstaller
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import chromedriver_autoinstaller
    
from selenium.webdriver.common.keys import Keys
import time


try:
    subprocess.Popen(r'C:\Program Files\Google\Chrome\Application\chrome.exe --remote-debugging-port=9222 --user-data-dir="C:\chrometemp1"')  # 디버거 크롬 구동
except:
    subprocess.Popen(r'C:\Program Files (x86)\Google\Chrome\Application\chrome.exe --remote-debugging-port=9222 --user-data-dir="C:\chrometemp1"')  # 디버거 크롬 구동
option = Options()
option.add_experimental_option("debuggerAddress", "127.0.0.1:9222")

chrome_ver = chromedriver_autoinstaller.get_chrome_version().split('.')[0]
try:
    driver = webdriver.Chrome(f'./{chrome_ver}/chromedriver.exe', options=option)
except:
    chromedriver_autoinstaller.install('./')
    driver = webdriver.Chrome(f'./{chrome_ver}/chromedriver.exe', options=option)
driver.implicitly_wait(10)

driver.get('https://blackkiwi.net/service/keyword-analysis?keyword=%EC%A0%9C%EB%A1%9C%EC%9B%A8%EC%9D%B4%EC%8A%A4%ED%8A%B8&platform=naver')
time.sleep(0.5) #혹시 모를 에러 방지를 위한 적절한 wait 넣어주기

제로웨이스트마켓
제로 웨이스트비누
제로 웨이스트 챌린지
제로웨이스트 수세미
부산 제로웨이스트
대구 제로웨이스트
제로웨이스트 실천
캘러웨이 로스트볼
제로웨이스트 숙소
제로웨이스트 뜻
제로웨이스트 키트
제로웨이스트샵
행주
커플 팔찌
후드티
esg 경영
수세미
설거지
ESG
아르켓

In [74]:
driver.implicitly_wait(10)
driver.get('http://surffing.net/MainSeoSearch.do')

In [75]:
search=driver.find_element(By.ID,'saerchKeyword')
search.send_keys('제로웨이스트')
search.send_keys(Keys.ENTER)
title2=driver.find_elements(By.CSS_SELECTOR,'tr>td.center:nth-child(1)')

In [76]:
title_b=[]

for i in range(len(title2)):
    title_b.append(title2[i].text)
    print(title_b[i])

제로웨이스트
친환경신발
제주도어린이체험
업사이클링제품
친환경제품
업사이클링
친환경운동화
제주도수학여행
업사이클링브랜드
친환경의류
지구의날행사
르무통
업사이클링가방
친환경브랜드
리사이클링
페트병재활용

In [96]:
title_l.extend(title_b)
title_l

['제로웨이스트마켓',
 '제로 웨이스트비누',
 '제로 웨이스트 챌린지',
 '제로웨이스트 수세미',
 '부산 제로웨이스트',
 '대구 제로웨이스트',
 '제로웨이스트 실천',
 '캘러웨이 로스트볼',
 '제로웨이스트 숙소',
 '제로웨이스트 뜻',
 '제로웨이스트 키트',
 '제로웨이스트샵',
 '행주',
 '커플 팔찌',
 '후드티',
 'esg 경영',
 '수세미',
 '설거지',
 'ESG',
 '아르켓',
 '제로웨이스트',
 '친환경신발',
 '제주도어린이체험',
 '업사이클링제품',
 '친환경제품',
 '업사이클링',
 '친환경운동화',
 '제주도수학여행',
 '업사이클링브랜드',
 '친환경의류',
 '지구의날행사',
 '르무통',
 '업사이클링가방',
 '친환경브랜드',
 '리사이클링',
 '페트병재활용']

### 네이버데이터랩

In [7]:
import pandas as pd
import numpy as np
from pprint import pprint
import urllib.request
import datetime
import json
import glob
import sys
import os

import warnings
warnings.filterwarnings(action='ignore')

pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 250)
pd.set_option('display.width', 100)

pd.options.display.float_format = '{:.2f}'.format

In [86]:
class NaverDataLabOpenAPI():
    """
    네이버 데이터랩 오픈 API 컨트롤러 클래스
    """

    def __init__(self, client_id, client_secret):
        """
        인증키 설정 및 검색어 그룹 초기화
        """
        self.client_id = client_id
        self.client_secret = client_secret
        self.keywordGroups = []
        self.url = "https://openapi.naver.com/v1/datalab/search"

    def add_keyword_groups(self, group_dict):
        """
        검색어 그룹 추가
        """

        keyword_gorup = {
            'groupName': group_dict['groupName'],
            'keywords': group_dict['keywords']
        }
        
        self.keywordGroups.append(keyword_gorup)
        print(f">>> Num of keywordGroups: {len(self.keywordGroups)}")
        
    def get_data(self, startDate, endDate, timeUnit, device, ages, gender):
        """
        요청 결과 반환
        timeUnit - 'date', 'week', 'month'
        device - None, 'pc', 'mo'
        ages = [], ['1' ~ '11']
        gender = None, 'm', 'f'
        """

        # Request body
        body = json.dumps({
            "startDate": startDate,
            "endDate": endDate,
            "timeUnit": timeUnit,
            "keywordGroups": self.keywordGroups,
            "device": device,
            "ages": ages,
            "gender": gender
        }, ensure_ascii=False)
        
        # Results
        request = urllib.request.Request(self.url)
        request.add_header("X-Naver-Client-Id",self.client_id)
        request.add_header("X-Naver-Client-Secret",self.client_secret)
        request.add_header("Content-Type","application/json")
        response = urllib.request.urlopen(request, data=body.encode("utf-8"))
        rescode = response.getcode()
        if(rescode==200):
            # Json Result
            result = json.loads(response.read())
            
            period = []
            ratio = []
            title = []
            pprint(result)
            
            for val in result['results']:
                period.append(val['data'][0]['period'])
                ratio.append(val['data'][0]['ratio'])
                title.append(val['title'])
            
            df = pd.DataFrame({"title" : title, 'period' : period, "ratio" : ratio})
            #             pprint(result)
#             df = pd.DataFrame({'A': ['a','a','a','a','a']})
#             for i in range(len(self.keywordGroups)):
#                 tt = pd.DataFrame(result['results'][i]['keywords'])
#                 tmp = pd.DataFrame(result['results'][i]['data'])
#                 df = pd.concat([tmp,df,tt])
#                 print(tt)
#                 print(tmp)
                
            
        else:
            print("Error Code:" + rescode)
            
        return df

In [49]:
keyword_group_set = {
    'keyword_group_1': {'groupName': "애플", 'keywords': ["애플"]},
    'keyword_group_2': {'groupName': "아마존", 'keywords': ["아마존"]},
    'keyword_group_3': {'groupName': "구글", 'keywords': ["구글"]},
    'keyword_group_4': {'groupName': "테슬라", 'keywords': ["테슬라"]},
    'keyword_group_5': {'groupName': "페이스북", 'keywords': ["페이스북"]}
}

In [124]:

for idx, (key, val) in enumerate(keyword_group_set.items()):
    val['groupName'] = title_l[idx+cnt]
    val['keywords'] = [title_l[idx+cnt]]
keyword_group_set

{'keyword_group_1': {'groupName': '대구 제로웨이스트', 'keywords': ['대구 제로웨이스트']},
 'keyword_group_2': {'groupName': '제로웨이스트 실천', 'keywords': ['제로웨이스트 실천']},
 'keyword_group_3': {'groupName': '캘러웨이 로스트볼', 'keywords': ['캘러웨이 로스트볼']},
 'keyword_group_4': {'groupName': '제로웨이스트 숙소', 'keywords': ['제로웨이스트 숙소']},
 'keyword_group_5': {'groupName': '제로웨이스트 뜻', 'keywords': ['제로웨이스트 뜻']}}

In [128]:
# API 인증 정보 설정
client_id = "xTsOEpqU869lYEaqyaU6"
client_secret = "kkp_ZP2j9T"

# 요청 파라미터 설정
startDate = "2022-08-01"
endDate = "2022-08-23"
timeUnit = 'month'
device = ''
ages = []
gender = ''

# 데이터 프레임 정의
naver = NaverDataLabOpenAPI(client_id=client_id, client_secret=client_secret)

naver.add_keyword_groups(keyword_group_set['keyword_group_1'])
naver.add_keyword_groups(keyword_group_set['keyword_group_2'])
naver.add_keyword_groups(keyword_group_set['keyword_group_3'])
naver.add_keyword_groups(keyword_group_set['keyword_group_4'])
naver.add_keyword_groups(keyword_group_set['keyword_group_5'])

df = naver.get_data(startDate, endDate, timeUnit, device, ages, gender)
df

>>> Num of keywordGroups: 1
>>> Num of keywordGroups: 2
>>> Num of keywordGroups: 3
>>> Num of keywordGroups: 4
>>> Num of keywordGroups: 5
{'endDate': '2022-08-23',
 'results': [{'data': [{'period': '2022-08-01', 'ratio': 23.92405}],
              'keywords': ['대구 제로웨이스트'],
              'title': '대구 제로웨이스트'},
             {'data': [{'period': '2022-08-01', 'ratio': 32.53164}],
              'keywords': ['제로웨이스트 실천'],
              'title': '제로웨이스트 실천'},
             {'data': [{'period': '2022-08-01', 'ratio': 29.81012}],
              'keywords': ['캘러웨이 로스트볼'],
              'title': '캘러웨이 로스트볼'},
             {'data': [{'period': '2022-08-01', 'ratio': 93.60759}],
              'keywords': ['제로웨이스트 숙소'],
              'title': '제로웨이스트 숙소'},
             {'data': [{'period': '2022-08-01', 'ratio': 100}],
              'keywords': ['제로웨이스트 뜻'],
              'title': '제로웨이스트 뜻'}],
 'startDate': '2022-08-01',
 'timeUnit': 'month'}

       title      period  ratio
0  대구 제로웨이스트  2022-08-01  23.92
1  제로웨이스트 실천  2022-08-01  32.53
2  캘러웨이 로스트볼  2022-08-01  29.81
3  제로웨이스트 숙소  2022-08-01  93.61
4   제로웨이스트 뜻  2022-08-01 100.00

In [125]:
df2=df
df3=pd.concat([df,df2])
df3

         title      period  ratio
0     제로웨이스트마켓  2022-01-01   4.73
1    제로 웨이스트비누  2022-01-01  86.71
2  제로 웨이스트 챌린지  2022-01-01  63.74
3   제로웨이스트 수세미  2022-01-01 100.00
4    부산 제로웨이스트  2022-01-01  99.77
0     제로웨이스트마켓  2022-01-01   4.73
1    제로 웨이스트비누  2022-01-01  86.71
2  제로 웨이스트 챌린지  2022-01-01  63.74
3   제로웨이스트 수세미  2022-01-01 100.00
4    부산 제로웨이스트  2022-01-01  99.77